<div class="page-header">
  <h2 class="text-primary">New visitor registration <small></small></h2>
</div>

<%= render 'form' %>
<br />
<strong><%= link_to "&larr; Cancel & Go Back".html_safe, root_path, class: "text-danger" %><br /></strong>
<br />
