<div class="text-center text-primary">
  <h2>
    Welcome to F-Secure<br /><br />
    (Digital Visitor Registry Book)
  </h2>
  <p>
    <%= link_to "First time visitor", new_visitor_path, class: "btn btn-primary btn-lg register-btn" %>
    <%= link_to "Returning visitor", index_returning_path, class: "btn btn-info btn-lg register-btn" %>
  </p>
</div>

<%= content_for :admin_section do %>
  <%= link_to("admin login", admin_visitors_path, data: { no_turbolink: true }) %>
<% end %>
