<div class="text-center text-primary">
  <h2>
    Welcome to F-Secure<br /><br />
    (Digital Visitor Registry Book)
  </h2>
  <p>
    <%= link_to "PLEASE REGISTER HERE", new_visitor_path, class: "btn btn-primary btn-lg register-btn" %>
  </p>
</div>
