// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register-btn {
  font-size:200%;
  margin-top: 32px;
}

td.center-stuff {
  vertical-align: middle !important;
}